.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
}
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-9-img {
    margin: 50px 100px;
    width: 400px;
}
.ex-10-icon {
    font-size: 60px;
}
.ex-11-icon {
    font-size: 60px;
}
.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}
.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}
.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}


/* SOLUZIONI ESERCIZI */
/* ESERCIZIO 1 */
.ex-1-square {
    transition: background-color 5s;
}

.ex-1-square:hover {
    background-color: red;
}

/* ESERCIZIO 2 */
.ex-2-square {
    transition: width 5s;
}

.ex-2-square:active {
    width: 700px;
}

/* ESERCIZIO 3 */
.ex-3-square {
    transition: border-radius 5s;  
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */
.ex-4-square {
    transition: opacity 5s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* ESERCIZIO 5 */
/* Qui andava usato lo scale
.ex-5-square {
    transition: trasform 5s;
}

.ex-5-square:hover {
    transform: scale(2);
}

.ex-5-square:active {
    transform: scale(0.5);
} */

.ex-5-square {
    transition: height 5s, width 5s;
}

.ex-5-square:hover {
    height: 100px;
    width: 100px;
}

.ex-5-square:active {
    height: 25px;
    width: 25px;
}

/* ESERCIZIO 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img {
    transition: 5s;
}

.ex-7-img:hover {
    filter: grayscale(1);
    width: 250px;
}

/* ESERCIZIO 8 */
.ex-8-img {
    transition: 5s;
}

.ex-8-img:hover {
    filter: invert(0.8);
    width: 350px;
    border-radius: 20px;
}

/* ESERCIZIO 9 */
.ex-9-img {
    transition: 5s;
}

.ex-9-img:hover {
    filter: hue-rotate(90deg) brightness(0.5);
    width: 650px;
    border-radius: 20px;
}

/* ESERCIZIO 10 */
.ex-10-icon {
    animation: giro 1s linear;
    animation-iteration-count: infinite;
}

@keyframes giro {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ESERCIZIO 11 */
.ex-11-icon:hover {
    animation: giro2 2s linear;
    animation-iteration-count: infinite;
}

@keyframes giro2 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 12 */
.ex-12-top-white {
    animation: movimento 2s linear;
    animation-iteration-count: infinite;
}

.ex-12-bottom-white {
    animation: movimento2 2s linear;
    animation-iteration-count: infinite;
}

@keyframes movimento {
    0% {
        top: -10px;
        left: 10%;
    }
    25% {
        top: -10px;
        left: 35%;
    }
    50% {
        top: -10px;
        left: 65%;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes movimento2 {
    0% {
        bottom: -10px;
        right: 10%;
    }
    25% {
        bottom: -10px;
        right: 35%;
    }
    50% {
        bottom: -10px;
        right: 65%;
    }
    100% {
        bottom: -10px;
        right: 10%;
    }
}

/* C'era un modo più semplice per farlo
@keyframes movimento {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

@keyframes movimento2 {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
} */

/* ESERCIZIO 13 */
.ex-13-top-white {
    animation: rotazione 4s linear;
    animation-iteration-count: infinite;
}

.ex-13-bottom-white {
    animation: rotazione2 4s linear;
    animation-iteration-count: infinite;
}

@keyframes rotazione {
    0% {
        top: -10px;
        left: 10%;
    }
    25% {
        top: -10px;
        left: 75%;
    }
    50% {
        top: 55px;
        left: 75%;
    }
    75% {
        top: 55px;
        left: -10%;
    }
    100% {
        top: -10px;
        left: -10%;
    }
}

@keyframes rotazione2 {
    0% {
        bottom: -10px;
        right: 10%;
    }
    25% {
        bottom: -10px;
        right: 75%;
    }
    50% {
        bottom: 55px;
        right: 75%;
    }
    75% {
        bottom: 55px;
        right: -10%;
    }
    100% {
        bottom: -10px;
        right: -10%;
    }
}

/* Bisognava farlo in questo modo perché così si tiene conto anche delle misure dei rettangoli bianchi per far sì che il movimento sia più lineare
@keyframes rotazione {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}

@keyframes rotazione2 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
} */
